body
{
  background-color: #fff;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

#container
{
  width: 100%;
  background: #f9f9f9;
  border-bottom: 1px solid #aaa;
  padding: 5px;
}

#content
{
  margin-left: 155px;
}
#side-bar
{
  width: 150px;
  float:left;
}
#menu
{
  background-color: #fff;
  border: 1px solid #aaa;
  padding: 2px;
}

#menu ul
{
  margin: 0;
  padding: 0;
}

#menu li
{
  padding: 2px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  display: block;
}

#menu li.active a
{
  font-weight: bold;
}
#menu li.active a:hover
{
  text-decoration: none;
}
#menu li a
{
  text-decoration: none;
  font-size: 110%;
  color: #464646;
}

#menu li a:hover
{
  text-decoration: underline;
}
td, th
{
  padding: 7px 3px;
}

th
{
  font-weight: bold;
}

#footer
{
  clear: both;
  padding: 25px;
  margin-top: 0;
  height: auto;
  font-family: arial,sans-serif;
  font-size: 80%;
  float: right;
  color: #666;
  background: none;
}

#footer img
{
  vertical-align: middle;
}
.user-info
{
  background-color:#FFFFFF;
  border:1px solid #AAAAAA;
  margin: 5px 0 5px 0;
  padding: 0 0 3px 0;
}
.user-info h3
{
  background-color:#E7EEF6;
  font-size:125%;
  margin:0 0 5px;
  padding:2px;
}
.user-info .username
{
  margin-left: 3px;
  display: block;
}
.user-info a
{
  color: #464646;
  text-decoration: none;
}
.user-info a:hover
{
  color: #000;
  text-decoration: underline;
}
.user-info .logout-link
{
  display: block;
  margin: 4px 3px 0 0;
  text-align: right;
  font-size: 110%;
}
.clear {
  clear: both;
}
#sf_admin_container {
  margin-right: 5px;
  padding-left: 10px;
  border: 1px solid #AAAAAA;
  background: #fff;
}
#sf_admin_container h1
{
  margin: 10px 0 0;
  padding: 0;
}
#sf_admin_container fieldset h2
{
  font-size: 110%;
  font-family: arial,sans-serif;
  font-style: italic;
}

.sf_admin_form_field_logo div div
{
  margin-left: 120px;
}

#sf_admin_container .sf_admin_form_field_logo div div label
{
  display: inline;
  float: none;
}

#sf_admin_container ul.sf_admin_td_actions li
{
  font-size: 100%;
}

#sf_admin_container ul.sf_admin_actions li
{
  font-size: 12px;
}
#sf_admin_container .notice
{
  padding: 4px 8px 4px 30px;
  margin-right: 5%;
}
#sf_admin_header
{
  margin: 5px 0;
}
.link-back a
{
  text-decoration: none;
  color: #464646;
  font-size: 110%;
}
.link-back a:hover
{
  text-decoration: underline;
  color: #000
}
#sf_admin_bar
{
  margin-left: 0;
  float: none;
  width: 95%;
}
#sf_admin_container #sf_admin_list_th_actions
{
  text-align: center;
}

/* Admin list */

.sf_admin_list table
{
  background-color: #d0d0d0;
  border-spacing: 1px;
  border-collapse: separate;
  width: 95%;
}
#sf_admin_container .sf_admin_list td,
#sf_admin_container .sf_admin_list th
{
  border: 1px solid #eee;
  vertical-align: middle;
}
#sf_admin_container .sf_admin_list td
{
  border: 1px solid #fff;
}
#sf_admin_container .sf_admin_list tr.even
{
  background-color: #f7f7f7;
}
#sf_admin_container .sf_admin_list tr.even:hover,
#sf_admin_container .sf_admin_list tr.menu_root:hover
{
  background-color: #ffe;
}
#sf_admin_container .sf_admin_list tr.menu_root
{
  background-color: #e5e5e5;
}
#sf_admin_container .sf_admin_list tr.region
{
  background-color: #e5e5e5;
}
#sf_admin_container #sf_admin_list_batch_actions,
#sf_admin_container .sf_admin_list_batch
{
  text-align: center;
}

/* Admin filters */

.sf_admin_filter
{
  margin: 5px 0;
  background-color: #fff;
  border: 1px solid #aaa;
  padding: 0;
}
.sf_admin_filter h3
{
  margin: 0 0 5px;
  padding: 2px;
  font-size: 125%;
  background-color: #e7eef6;
}
.sf_admin_filter form
{
  margin-left: 3px;
  margin-right: 3px;
}
.sf_admin_filter a
{
  color: #464646
}
.sf_admin_filter label
{
  display: block;
  padding: 0 0 1px 0;
}
.sf_admin_filter .sf_admin_form_row
{
  margin-bottom: 5px;
}
.sf_admin_filter .sf_admin_buttons
{
  text-align: right;
}
.sf_admin_filter input[type="text"]
{
  width: 10.5em;
}
.sf_admin_filter select
{
  max-width: 11em;
}
/*Article list*/

#sf_admin_container td.sf_admin_list_td_published
{
  text-align: center;
}
#sf_admin_container td.sf_admin_list_td_front_page
{
  text-align: center;
}

#sf_admin_container td.sf_admin_list_td_content
{
  max-width: 140px;
}
/* Label list */
#sf_admin_container td.sf_admin_list_td_indent_name
{
  min-width: 95px;
}
#sf_admin_container td.sf_admin_list_td_description
{
  min-width: 105px;
}
/* Admin form */
.sf_admin_col_2, .sf_admin_col
{
  float: left;
}
.sf_admin_col
{
  width: 455px;
}
.sf_admin_col_2
{
  margin-left: 5px;
  width: 360px;
}
#sf_admin_container .sf_admin_form_row .content
{
  padding-left: 0;
  margin-left: 1px;
}
#sf_admin_container .sf_admin_form_row .content table
{
  width: 100%;
}
#sf_admin_container ul li
{
  list-style-type: none;
  list-style-image: none;
}
#sf_admin_container ul label
{
 display: block;
}
#sf_admin_container ul.checkbox_list label
{
 display: inline !important;
}
#sf_admin_container ul.radio_list label
{
 display: inline !important;
}
#sf_admin_container select.labels
{
  margin-bottom: 12px;
  width: 130px;
}
#sf_admin_footer
{
  clear: both;
}
/* Create menu item page */
#new-menu h2
{
  font-size: 110%;
  font-style: italic;
  background-color: #ccccff;
  color: #333;
  margin: 5px 0;
  padding: 3px;
}

.menu-ctype
{
  font-size: 110%;
  margin-top: 10px;
}
/* Content types side menu */
#menu ul.content-types
{
  padding-left: 12px;
}
#menu ul.content-types li
{
  margin: 0;
  padding: 0;
}
#menu ul.content-items li
{
  margin: 0;
  padding: 0 0 0 12px;
  font-size: 80%;
}