html, body
{
  margin: 0px;
  padding: 0px;
  background-image: url(../images/bg.gif);
  color: #333;
}

h1, h2, h3, h4, h5, h6, p, form
{
  margin: 0px;
  padding:0px;
}
h1
{
  font-size: 120%;
  color: #EE8907;
}
h2
{
  font-size: 110%;
  color: #EE8907;
}
h3
{
  font-size: 105%;
  color: #EE8907;
}
h1 a, h2 a
{
  text-decoration: none;
  color: #EE8907;
}
a
{
  text-decoration: underline;
  color: #333;
}

#wrapper
{
  width:800px;
  margin:0px auto;
  background-color:#FFF;
}

#content
{
  width: 778px;
  margin: 0px auto;
  background-image: url(../images/bg_header_top.gif);
  background-repeat: repeat-x;
  background-position: top;
}

#top
{
  height: 70px;
}

#logo
{
  width: 258px;
  float: left;
}

#logo h1
{
  font-family: "Trebuchet MS";
  font-size: 26px;
  color: #F76B0C;
  font-weight: normal;
  text-decoration: none;
  padding-left: 40px;
  padding-top: 30px;
}

#logo h4 {
  font-family:"Trebuchet MS";
  font-size:11px;
  color:#808080;
  font-weight:normal;
  text-decoration:none;
  padding-left:75px;
}

#rightbar h4
{
  color: #797B7A;
  text-align: center;
  clear: both;
}
/* Top menu */

#links
{
  height:25px;
}
#links ul
{
  float: right;
  list-style-type:none;
  margin: 0;
  padding: 0;
}
#links li
{
  text-align:center;
  background-color:#F4A80A;
}
#links a
{
  font-size: 11px;
  color: #fff;
  font-weight: normal;
  text-decoration: none;
  display: block;
  width: 129px;
  height: 25px;
  line-height: 22px;
}
#links a:hover
{
  font-size: 11px;
  color: #fff;
  font-weight: normal;
  text-decoration: underline;
}
ul.menu li
{
  float: left;
  width: 129px;
  margin-left: 1px;
}
ul.menu li ul
{
  position: absolute;
  width: 129px;
  left: -999em;
}
ul.menu li:hover ul
{
  left: auto;
}
ul.menu li:hover ul li
{
  margin-left: 0;
  padding-left: 1px;
}
/* end top menu */
#header {
  background-image:url(../images/main_img.jpg);
  background-repeat:no-repeat;
  height:132px;
  text-align:right;
}

#header h3 {
  font-size:160%;
  color:#fff;
  font-weight:normal;
  text-decoration:none;
  padding:20px 40px 0px 0px;
}

#contentarea {
  clear:both;
  padding:25px 0px;
}
#contentarea p
{
  margin: 0.5em 0 0.5em;
}
#leftbar
{
  float:left;
  width: 539px;
  border-right:1px solid #BCBDBC;
  padding-left: 10px;
  min-height: 350px;
}
#leftbar-full-width
{
  padding-left: 10px;
}
#rightbar
{
  float:left;
  width:227px;
}

#rightbar h2
{
  color:#797B7A;
  font-weight:normal;
  padding-left:25px;
  padding-bottom:5px;
}

#rightbar p{
  font-size:11px;
  color:#797B7A;
  font-weight:normal;
  padding:0px 25px;
}


#footer {
  clear:both;
  height:32px;
  padding-top:25px;
}

#footer {
  font-size: 75%;
  color: #fff;
}
#footer a {
  color: #fff;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}
#lyra-powered {
  float:left;
  height: 27px;
  padding-top: 5px;
  width: 500px;
  background-color: #9BBE00;
}

#lyra-powered a {
  margin-left: 30px;
}

#validator {
	float:left;
	width:278px;
	background-color:#9BBE00;
	height:27px;
	padding-top: 5px;
    
}
#validator p {
  text-align: right;
  margin-right: 30px
}

/* Flash messages */
.flash_notice
{
  font-size: 90%;
  line-height: 1.1em;
  color: #797B7A;
  border: 1px solid #4AC4FF;
  background: transparent url('../images/backend/yes.png') no-repeat 5px;
  padding: 2px 2px 2px 25px;
  margin: 0.5em;
}
.info-message
{
  border: 1px solid #4AC4FF;
  padding: 2px;
  margin:auto;
  width: 90%;
  text-align: center;
}
.label-description
{
  margin-bottom: 2em;
}
.article-title a:hover
{
  text-decoration: underline;
}
.article-summary {
  margin: 8px 0 4px;
}
.article-byline {
  color: #797B7A;
  font-size: 80%;
}
.article-readmore {
  display: block;
}
.article-readmore a {
  text-decoration: none;
  color: #EE8907;
}
.article-readmore a:hover {
  text-decoration: underline;
}
.article-subtitle {
  text-align: center;
  font-style: italic;
}
.article-separator {
  border-top: 1px solid #f0f0f0;
  width: 95%;
  height: 12px;
}
/* Content form */
.content-form input
{
  width: 225px;
}
.content-form input.submit
{
  width: 95px;
  margin-top: 10px;
}
.content-form .col-left, .content-form .col-right
{
  float: left;
}
.content-form .col-left
{
  width: 465px;
}
.content-form .col-right
{
  margin-left: 5px;
  width: 290px;
}
.content-form label
{
  display: block;
}
.content-form label.field-bool
{
  float: left;
  width: 120px;
}
.content-form .row
{
  margin: 10px 0 0 5px;
}
.content-form .row-submit
{
  clear: both;
}
.content-form .panel
{
  border: 1px solid #f0f0f0;
  margin-top: 10px;
  padding-bottom: 5px;
}
.content-form .panel h2
{
  background: #e0e0e0;
  color: #333;
  font-size: 90%;
  padding: 3px;
}
.content-form ul
{
  margin: 0;
  padding: 0;
}
.content-form ul li
{
  list-style-type: none;
  list-style-image: none;
}
.content-form select.labels
{
  margin-bottom: 12px;
  width: 130px;
}
/* Comments */
.comment-error
{
  font-size: 90%;
  color: #797B7A;
  border: 1px solid #ff0000;
  background: transparent url('../images/backend/error.png') no-repeat 5px;
  padding: 2px 2px 2px 25px;
  margin: 0.5em;
}
.comment-error a
{
  color: #797B7A;
}
.comment-wrapper
{
  margin-bottom: 12px;
}
#comments
{
  margin: 25px 0 10px;
}
.comment-header
{
  font-size: 80%;
}
.comment-header .author
{
  color: #EE8907;;
}
.comment-header a
{
  color: #EE8907;
}
.comment-content
{
  font-size: 90%;
  color: #222;
}
.field-help
{
  color: #797B7A;
}
#comment-form
{
  margin-top: 15px;
}
#form-wrapper {
  margin-top: 12px;
}
#form-wrapper .row
{
  margin-bottom: 6px;
}
#form-wrapper label
{
  padding-left: 12px;
  font-size: 85%;
}
#form-wrapper .error_list
{
  margin: 0;
  padding: 0;
}
#form-wrapper .error_list li
{
  color: #ff0000;
  font-size: 80%;
}
#form-wrapper .field-help
{
  font-size: 75%;
}
/* admin bar */
#admin-bar {
    width: 100%;
    padding: 5px;
    background-color: #c0c0c0;
    opacity: 0.5;
}
#admin-bar .action {
  margin-left: 12px;
}
#admin-bar a {
    text-decoration: none;
    color: #333333;
    font-size: 85%;
}
#admin-bar a:hover {
    text-decoration: underline;
}
ul.label-list a
{
  color: #EE8907;
  text-decoration: none;
}
ul.label-list a:hover
{
  text-decoration: underline;
}
ul.label-list li
{
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding-left: 11px;
}
ul.label-list li.lev1
{
  background: url(../images/arrow.png) no-repeat center left;

}
ul.label-list li.lev2
{
  margin-left: 10px;
}
ul.label-list li.lev3
{
  margin-left: 20px;
}
ul.label-list li.lev4
{
  margin-left: 30px;
}
ul.archive-list a
{
  color: #EE8907;
  text-decoration: none;
}
ul.archive-list a:hover
{
  text-decoration: underline;
}
ul.archive-list li
{
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding-left: 11px;
}
li.year
{
  background: url(../images/arrow.png) no-repeat 0 0.35em;
  color: #EE8907;
}
ul.archive-list li.month
{
  padding-left: 10px;
}
ul.months
{
  padding: 0;
  margin: 0;
}
ul.latest-list li
{
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding-bottom: 10px;
}
ul.latest-list li span.date
{
  display: block;
  font-size: 85%;
  line-height: 85%
}
ul.latest-list a
{
  color: #EE8907;
  text-decoration: none;
}
ul.latest-list a:hover
{
  text-decoration: underline;
}
.feed-subscribe
{
  float: right;
  margin: 0 5px 20px 0;
  font-size: 90%;
  
}
.feed-subscribe a
{
  display: block;
  padding-left: 16px;
  background: url('../images/feed-icon.png') no-repeat 0 50%;
}
ul.error_list {
  margin: 0;
  padding: 0;
}
ul.error_list li {
  list-style-type:none;
  color: #ff0000;
}
.pagination
{
  font-size: 85%;
}
/* Registration form */
#registration-form
{
  margin-top: 15px;
}
#registration-form ul
{
  margin: 0;
  padding: 0;
}
#registration-form li
{
  list-style-type: none;
}
#registration-form label
{
  display: block;
}
#registration-form .row-submit
{
  clear: both;
  margin-top: 15px;
}
#registration-form .col-left, #registration-form .col-right
{
  float: left;
}
#registration-form .col-left
{
  width: 210px;
}
#registration-form .col-right
{
  margin-left: 5px;
  width: 210px;
}
/* Login form */
#login-form-wrapper-side
{
  margin: 15px 0 0 25px;
  font-size: 85%;
}
#login-form-wrapper-side a
{
  display: block;
  margin: 10px 0 5px;
}
#login-form-wrapper-side .username
{
  color: #EE8907;
}
#login-form label
{
  display: block;
}
/* Email verify form */
#email-verify-form label
{
  display: block;
}